<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Registro</title>   
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <div class="_caja__trasera">   
                <div class="_caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar en la página</p>
                    <button id="btn__iniciar-seccion">Iniciar Sesión</button>
                </div>
                <div class="_caja__trasera-register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Regístrate para que puedas iniciar sesión</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
            <!-- Formulario de login y registro -->
            <div class="contenedor__login-register">
                <!-- Login -->
                <form action="" class="formulario__login">
                    <h2>Iniciar Sesión</h2>
                    <input type="text" placeholder="Correo Electrónico">
                    <input type="password" placeholder="Contraseña">
                    <button type="submit">Entrar</button>
                </form>
                <!-- Registro -->
                <form action="/" method="post" class="formulario__register">
                    <h2>Registrarse</h2>
                    <input type="text" id="nombre" placeholder="Nombre" name="nombre">
                    <input type="text" id="apellido" placeholder="Apellido" name="apellido">
                    <input type="text" id="ubicacion" placeholder="Ubicación" name="ubicacion">
                    <input type="text" id="email" placeholder="Correo Electrónico" name="email">
                    <input type="text" id="numero" placeholder="Números" name="numero">
                    <input type="password" id="password" placeholder="Contraseña" name="password">
                    <button type="submit">Registrarse</button>
                    <!-- Mensaje de error -->
                    {% if error %}
                    <div class="error-message">
                        <p>{{ error }}</p>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
    <script src="static/js/script.js"></script>
</body>
</html>
